body {
  background-color: gainsboro;
}


.square {
    height: 250px;
    width:150px;
    background-color: #adc3d6;
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(180%, -100%);
}

.square2 {
    height: 250px;
    width:150px;
    background-color: #adc3d6;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(10%, -100%);
}

.square3 {
    height: 150px;
    width:326px;
    background-color: #adc3d6;
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-181%, 18%);
}

.button1 {
  position:absolute;    
  background-color: rgba(22, 41, 124, 0.96); 
  border: none;
  color: white;
  height: 300px;
  width: 300px;
}

